#docs
  .jumbotron
    @include gradient-vertical(darken($wisteria, 10%), lighten($amethyst, 5%), 0%, 100%)
  .color-box
    height: 200px
    lost-column: 1/2 2 0
    lost-align: center
    &:nth-child(19),
    &:nth-child(20)
      margin-bottom: 0
@include media-breakpoint-up(md)
  #docs
    .color-box
      lost-column: 1/4 4 0
      &:nth-child(17),
      &:nth-child(18),
      &:nth-child(19),
      &:nth-child(20)
        margin-bottom: 0