// Text Colors
.turquoise-text
  color: $turquoise
.green-sea-text
  color: $green-sea
.emerald-text
  color: $emerald
.nephritis-text
  color: $nephritis
.peter-river-text
  color: $peter-river
.belize-hole-text
  color: $belize-hole
.amethyst-text
  color: $amethyst
.wisteria-text
  color: $wisteria
.wet-asphalt-text
  color: $wet-asphalt
.midnight-blue-text
  color: $midnight-blue
.sun-flower-text
  color: $sun-flower
.orange-text
  color: $orange
.carrot-text
  color: $carrot
.pumpkin-text
  color: $pumpkin
.alizarin-text
  color: $alizarin
.pomegranate-text
  color: $pomegranate
.clouds-text
  color: $clouds
.silver-text
  color: $silver
.concrete-text
  color: $concrete
.asbestos-text
  color: $asbestos
.white-text
  color: #fff !important
.gray-lightest-text
  color: $gray-lightest
.gray-lighter-text
  color: $gray-lighter
.gray-light-text
  color: $gray-light
.gray-text
  color: $gray
.gray-dark-text
  color: $gray-dark

//Background Color
.turquoise-bg
  background-color: $turquoise
.green-sea-bg
  background-color: $green-sea
.emerald-bg
  background-color: $emerald
.nephritis-bg
  background-color: $nephritis
.peter-river-bg
  background-color: $peter-river
.belize-hole-bg
  background-color: $belize-hole
.amethyst-bg
  background-color: $amethyst
.wisteria-bg
  background-color: $wisteria
.wet-asphalt-bg
  background-color: $wet-asphalt
.midnight-blue-bg
  background-color: $midnight-blue
.sun-flower-bg
  background-color: $sun-flower
.orange-bg
  background-color: $orange
.carrot-bg
  background-color: $carrot
.pumpkin-bg
  background-color: $pumpkin
.alizarin-bg
  background-color: $alizarin
.pomegranate-bg
  background-color: $pomegranate
.clouds-bg
  background-color: $clouds
.silver-bg
  background-color: $silver
.concrete-bg
  background-color: $concrete
.asbestos-bg
  background-color: $asbestos
.white-bg
  background-color: #fff
.gray-lightest-bg
  background-color: $gray-lightest
.gray-lighter-bg
  background-color: $gray-lighter
.gray-light-bg
  background-color: $gray-light
.gray-bg
  background-color: $gray
.gray-dark-bg
  background-color: $gray-dark

//Headings
.lead-heading
  padding-bottom: 0.5rem
  border-bottom: 1px solid #ddd

//Link
.peter-link
  color: $peter-river
  &:hover,
  &:active,
  &:focus
    color: $belize-hole
.docs-link
  color: inherit
  text-decoration: none
  &:hover,
  &:active,
  &:focus
    text-decoration: none
    color: $belize-hole

//Underline
.underline
  text-decoration: underline

//Shadow
.shadow
  text-shadow: 2px 2px #333
.shadow-min
  text-shadow: 1px 1px #333

//Border
.border-top
  &:before
    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: 10
    content: ''
    width: 33%
    margin: 0 auto
    border-top: 1px solid
    border-color: rgba(119, 119, 119, 0.9)
.border-bottom
  &:after
    position: absolute
    bottom: 0
    left: 0
    right: 0
    z-index: 10
    content: ''
    width: 33%
    margin: 0 auto
    border-top: 1px solid
    border-color: rgba(119, 119, 119, 0.9)

// Opacity
.translucent
  background-color: rgba(255,255,255,0.9)